.footer {
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

.copyright {
    font-family: Arial;
    font-size: 12px;
    color: #343434
}

.footer-menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-menu__link {
    text-decoration: none;
}